#backimg {
    margin: 0px;
    height: 100%;
    width: 100%;
    background-image: url("http://img.phombo.com/img1/photocombo/15066/80_Wonderful_Wallpapers_HQPixsBlog-41.jpg_HQ_Pixs_Blog_1.jpg");
}
.contents{
    margin-top:10%;
}