.head-container {
    display: table;
    width: 100%;
}

.head-item {
    display: table-cell;
    vertical-align: middle;
}

.head-item.main {
    width: 100%;
}

.nav-pills > li > a {
    background: transparent;
    color: #1F3860;
}

.nav-pills > li.active > a {
    background: transparent;
    border: solid #1F3860 1px;
    color: #1F3860;
}

.nav-pills > li:hover > a {
    background: #F4F8FF;
    color: #1F3860;
}

.nav-pills > li.active:hover > a {
    background: #F4F8FF;
    color: #1F3860;
}

input.form-control {
    background: transparent;
    border: solid #1F3860 1px;
}

.btn.btn-primary {
    background: transparent;
    border: solid #1F3860 1px;
    color: #1F3860;
    text-shadow: none;
}

.btn.btn-primary:hover {
    background: #F4F8FF;
    text-shadow: none;
}

#problem-container > table > thead th:nth-child(1) {
    width: 80px;
}

#problem-container > table > thead th:nth-child(3) {
    width: 70px;
}

#problem-container > table > thead th:nth-child(4) {
    width: 90px;
}

#problem-container > table > thead th:nth-child(5) {
    width: 60px;
}

.center {
    text-align: center;
}