#problem-container > table > thead th:nth-child(1) {
    width: 80px;
}

#problem-container > table > thead th:nth-child(3) {
    width: 70px;
}

#problem-container > table > thead th:nth-child(4) {
    width: 90px;
}

#problem-container > table > thead th:nth-child(5) {
    width: 46px;
}
#problem-container > table > thead th:nth-child(6) {
    width: 46px;
}