.team-name > span {
    margin-right: 10px;
}
.panel-default>.panel-heading{
    margin: 0;
}
.remove{
    margin: 0;
}
form{
    margin: 0 10px;
    display: inline-block;
}
.rightbtn{
    float:right;
}